body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Libre Baskerville', serif;
  background: #faebd7;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: #568454;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.account {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
@media (max-width: 500px) {
  .account {
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .account {
    width: 90%;
  }
}
.account .account-img {
  border-radius: 20px;
}
.account .show-hide {
  display: none;
}
@media (max-width: 500px) {
  .account .show-hide {
    display: inline;
  }
}
.account .form-wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .account .form-wrap {
    flex-direction: column;
  }
}
.account .form-wrap .login {
  width: 40%;
}
@media (max-width: 500px) {
  .account .form-wrap .login {
    width: 100%;
  }
}
.account .form-wrap .signup {
  width: 50%;
}
@media (max-width: 500px) {
  .account .form-wrap .signup {
    width: 100%;
    margin-top: 15px;
  }
}
.account .form-wrap .form-intro h2 {
  margin: 5px 0;
}
.account .form-wrap .form {
  padding: 10px 0;
}
.account .form-wrap .form .form-row {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.account .form-wrap .form .form-row .radio-label {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5rem;
}
.account .form-wrap .form .form-row legend {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.account .form-wrap .form .form-row input {
  border-radius: 5px;
  border: 1px solid #d9d2ee;
  background-color: #fefdeb;
  padding: 0.5rem;
}
.account .form-wrap .form .form-row #iphone,
.account .form-wrap .form .form-row #android {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.account .form-wrap button {
  width: 20%;
  border: 1px solid #568454;
  border-radius: 5px;
  background-color: #abd5aa;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .account .form-wrap button {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .account .form-wrap button {
    width: 50%;
  }
}
.account .form-wrap button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.account .form-wrap button:hover {
  border: 1px solid #d9d2ee;
  background-color: #ece8f7;
  font-style: italic;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid #c2d8c1;
}
footer .footer-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  footer .footer-content {
    width: 80%;
  }
}
@media (max-width: 800px) {
  footer .footer-content {
    width: 80%;
  }
}
footer .footer-content nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-content nav h3 {
  font-size: 2.2rem;
}
footer .footer-content nav .nav-link {
  font-size: 1.8rem;
}
footer .copyright {
  padding: 10px 0;
  font-weight: 600;
}
.home .welcome {
  padding: 40px 0 10px;
}
@media (max-width: 800px) {
  .home .welcome {
    padding: 30px 0 10px;
  }
}
@media (max-width: 500px) {
  .home .welcome {
    padding: 30px 0 10px;
  }
}
.home .welcome .top-content {
  padding-top: 20px;
}
@media (max-width: 800px) {
  .home .welcome .top-content {
    padding: 30px 16px 0 24px;
  }
}
@media (max-width: 500px) {
  .home .welcome .top-content {
    padding: 14px;
  }
}
.home .welcome .top-image {
  text-align: center;
  padding-top: 75px;
}
.home .welcome .top-image img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .home .welcome .top-image {
    padding: 30px 0 10px;
  }
}
@media (max-width: 500px) {
  .home .welcome .top-image {
    padding: 8px 0;
  }
}
.home .content-section {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 800px) {
  .home .content-section .text-content {
    width: 50%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding-top: 3%;
    order: 2;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 800px) {
  .home .content-section .img-content {
    width: 50%;
    padding-right: 3%;
  }
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
    order: 1;
  }
}
.home .content-section img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section img {
    width: 100%;
  }
}
.home .middle-content {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.home .middle-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 800px) {
  .home .middle-content .text-content {
    width: 50%;
    padding-right: 3%;
  }
}
@media (max-width: 500px) {
  .home .middle-content .text-content {
    width: 100%;
    padding-top: 3%;
    order: 1;
  }
}
.home .middle-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 800px) {
  .home .middle-content .img-content {
    width: 50%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .home .middle-content .img-content {
    width: 100%;
    padding: 0;
    order: 2;
  }
}
.header .main-navigation {
  display: flex;
}
.main-navigation {
  width: 100%;
  height: 90px;
  background: #faebd7;
  border-bottom: 2px solid #c2d8c1;
  position: fixed;
}
@media (max-width: 800px) {
  .main-navigation {
    border-bottom: none;
    display: none;
  }
}
@media (max-width: 500px) {
  .main-navigation {
    border-bottom: none;
    display: none;
  }
}
.container-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container-nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .container-nav .logo-heading {
    font-size: 3rem;
    border-bottom: none;
  }
}
.container-nav .nav {
  margin: 18px 0 0;
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .container-nav .nav {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 10px;
  }
}
.container-nav .nav-link {
  padding: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
@media (max-width: 500px) {
  .product {
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .product {
    width: 90%;
  }
}
.product h2 {
  margin: 5px 0;
}
.product button {
  width: 20%;
  border: 1px solid #568454;
  border-radius: 5px;
  background-color: #abd5aa;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .product button {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .product button {
    width: 50%;
  }
}
.product button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.product button:hover {
  border: 1px solid #d9d2ee;
  background-color: #ece8f7;
  font-style: italic;
}
.product .product-intro {
  margin-top: 15px;
}
.product .product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .product-detail p {
  border-top: 1px solid #d9d2ee;
  padding: 20px 0;
}
.product .product-detail .inspiration-img {
  width: 80%;
  border-radius: 20px;
  margin: 0 0 20px;
}
@media (max-width: 500px) {
  .product .product-detail .inspiration-img {
    width: 100%;
  }
}
.product .product-detail .product-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .product .product-detail .product-bottom {
    flex-direction: column;
  }
}
.product .product-detail .product-bottom .product-img {
  max-height: 500px;
}
.product .product-detail .product-bottom li {
  list-style-type: circle;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .product .product-detail .product-bottom .deets {
    padding: 0 20px;
  }
}
.about .about-us {
  padding: 40px 0 10px;
}
@media (max-width: 800px) {
  .about .about-us {
    padding: 30px 0 10px;
  }
}
@media (max-width: 500px) {
  .about .about-us {
    padding: 30px 0 10px;
  }
}
.about .about-us .top-content {
  padding-top: 20px;
}
@media (max-width: 800px) {
  .about .about-us .top-content {
    padding: 30px 16px 0 24px;
  }
}
@media (max-width: 500px) {
  .about .about-us .top-content {
    padding: 14px;
  }
}
.about .about-us .top-image {
  text-align: center;
  padding-top: 75px;
}
.about .about-us .top-image img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .about .about-us .top-image {
    padding: 30px 0 10px;
  }
}
@media (max-width: 500px) {
  .about .about-us .top-image {
    padding: 8px 0;
  }
}
.about .content-section {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 800px) {
  .about .content-section .text-content {
    width: 50%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .about .content-section .text-content {
    width: 100%;
    padding-top: 3%;
    order: 2;
  }
}
.about .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 800px) {
  .about .content-section .img-content {
    width: 50%;
    padding-right: 3%;
  }
}
@media (max-width: 500px) {
  .about .content-section .img-content {
    width: 100%;
    padding: 0;
    order: 1;
  }
}
.about .content-section img {
  border-radius: 10px;
}
@media (max-width: 800px) {
  .about .content-section img {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .about .content-section img {
    width: 100%;
  }
}
.about .middle-content {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.about .middle-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 800px) {
  .about .middle-content .text-content {
    width: 50%;
    padding-right: 3%;
  }
}
@media (max-width: 500px) {
  .about .middle-content .text-content {
    width: 100%;
    padding-top: 3%;
    order: 1;
  }
}
.about .middle-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 800px) {
  .about .middle-content .img-content {
    width: 50%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .about .middle-content .img-content {
    width: 100%;
    padding: 0;
    order: 2;
  }
}
.tabs {
  width: 100%;
  margin-bottom: 20px;
}
.tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tabs .tabs-item {
  display: none;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  justify-content: center;
  background-color: #faebd7;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: #faebd7;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #fefdeb;
}
.tabs .tabs-link-selected {
  border: 1px solid #d9d2ee;
  background-color: #ece8f7;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ece8f7;
}
.menu-button {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .menu-button {
    display: none;
  }
}
@media (min-width: 800px) {
  .menu-button {
    display: none;
  }
}
.mobile-heading {
  text-align: center;
}
@media (min-width: 1000px) {
  .mobile-heading {
    display: none;
  }
}
@media (max-width: 800px) {
  .mobile-heading {
    text-align: center;
    margin: 3rem;
  }
}
@media (max-width: 500px) {
  .mobile-heading {
    text-align: center;
  }
}
.menu {
  display: none;
  position: unset;
}
@media (min-width: 800px) {
  .menu {
    display: none;
    position: unset;
    top: 75px;
    left: 0;
    width: 800px;
    color: #abd5aa;
    box-shadow: 3px 3px 8px #c2d8c1;
    background-color: #faebd7;
    border-left: none;
    border-bottom: none;
    z-index: 2;
  }
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  border: 1px solid #abd5aa;
  box-shadow: 3px 3px 8px #c2d8c1;
  border-radius: 10px;
}
.mobile-nav {
  font-size: 30px;
}
.menu--open {
  display: block;
}
.btn-click {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
