body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Libre Baskerville', serif;
  background: #faebd7;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: #568454;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.account {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.account .show-hide {
  display: none;
}
@media (max-width: 500px) {
  .account .show-hide {
    display: inline;
  }
}
.account .form-wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .account .form-wrap {
    flex-direction: column;
  }
}
.account .form-wrap .login {
  width: 40%;
}
@media (max-width: 500px) {
  .account .form-wrap .login {
    width: 100%;
  }
}
.account .form-wrap .signup {
  width: 50%;
}
@media (max-width: 500px) {
  .account .form-wrap .signup {
    width: 100%;
    margin-top: 15px;
  }
}
.account .form-wrap .form-intro h2 {
  margin: 5px 0;
}
.account .form-wrap .form {
  padding: 10px 0;
}
.account .form-wrap .form .form-row {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.account .form-wrap .form .form-row .radio-label {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5rem;
}
.account .form-wrap .form .form-row legend {
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.account .form-wrap .form .form-row input {
  border-radius: 5px;
  border: 1px solid #d9d2ee;
  background-color: #fefdeb;
  padding: 0.5rem;
}
.account .form-wrap .form .form-row #iphone,
.account .form-wrap .form .form-row #android {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.account .form-wrap button {
  width: 20%;
  border: 1px solid #568454;
  border-radius: 5px;
  background-color: #abd5aa;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .account .form-wrap button {
    width: 30%;
  }
}

.footer-content h3 {
  padding: 20px;
  margin: 20px 0;
}
.welcome {

  padding-top: 100px;
}
.welcome .top-image {
  text-align: center;
}
.welcome .top-image img {
  width: 80%;
  border-radius: 20px;
}
.header .main-navigation {
  display: flex;
}
.main-navigation {
  width: 100%;
  height: 90px;
  background: #faebd7;
  border-bottom: 2px dashed #abd5aa;
  position: fixed;
}
.container-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-nav .logo-heading {
  margin-right: 86px;
}
.container-nav .nav {
  margin: 18pxx 0 0;
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.container-nav .nav-link {
  padding: inherit;
}
.product {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.product h2 {
  margin: 5px 0;
}
.product button {
  width: 20%;
  border: 1px solid #568454;
  border-radius: 5px;
  background-color: #abd5aa;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .product button {
    width: 30%;
  }
}
.product .product-intro {
  margin-top: 15px;
}
.product .product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .product-detail p {
  border-top: 1px solid #d9d2ee;
  padding: 20px 0;
}
.product .product-detail .inspiration-img {
  width: 80%;
  border-radius: 5px;
  padding: 0 0 20px;
}
@media (max-width: 500px) {
  .product .product-detail .inspiration-img {
    width: 100%;
  }
}
.product .product-detail .product-img {
  max-height: 500px;
}
@media (max-width: 500px) {
  .product .product-detail .product-img {
    max-height: 400px;
  }
}
.product .product-detail .product-bottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .product .product-detail .product-bottom {
    width: 100%;
  }
}
.product .product-detail .product-bottom div {
  padding: 10px;
  margin-left: 5%;
}
.product .product-detail .product-bottom li {
  list-style-type: circle;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
