.account {
  display: flex;
  flex-direction: column;

  .form-wrap {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    .form-intro {
      h2 {
      }
      p {
      }
      a {
      }
    } //form-intro
    .form {
      form {
      }
      .form-row {
        label {
        }
        input {
          .radio-label {
          }
        }
        a {
        }
      }
    } //form
    button {
      width: 30%;
    }
  } //form-wrap
}
