.account {
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  .account-img {
    border-radius: 20px;
  }
  //hides internal links to log in/sign up
  .show-hide {
    display: none;
    //displays links in mobile
    @media @mobile {
      display: inline;
    }
  } //show-hide

  .form-wrap {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media @mobile {
      flex-direction: column;
    }

    .login {
      width: 40%;
      @media @mobile {
        width: 100%;
      }
    }

    .signup {
      width: 50%;
      @media @mobile {
        width: 100%;
        margin-top: 15px;
      }
    }

    .form-intro {
      h2 {
        margin: 5px 0;
      }
    } //form-intro

    .form {
      padding: 10px 0;

      .form-row {
        font-size: 1.6rem;
        padding-bottom: 10px;
        label {
        }
        .radio-label {
          font-family: 'Oxygen', sans-serif;
          font-size: 1.5rem;
        }
        legend {
          font-size: 1.6rem;
          padding-bottom: 10px;
        }
        input {
          border-radius: 5px;
          border: 1px solid @dark-lav;
          background-color: @cream;
          padding: 0.5rem;
        }
        #iphone,
        #android {
          height: 15px;
          width: 15px;

          border-radius: 50%;
        }
        a {
        }
        p {
        }
      }
    } //form

    button {
      .button-format();
    }
  } //form-wrap
}
