<<<<<<< HEAD
<<<<<<< HEAD
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px dashed @light-grn;
  .footer-content {
    width: 40%;
    display: flex;
    flex-direction: column;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h3 {
        font-size: 2.2rem;
      }
      .nav-link {
        font-size: 1.8rem;
      }
    }
  } //footer-content
  .copyright {
    padding: 10px 0;
    font-weight: 600;
  }
}
=======
=======

>>>>>>> 9642aaa73c2284ba7c180a69ae4f6f18bd39d173
.footer-content h3 {
    padding: 20px;
    margin: 20px 0;

    
}
<<<<<<< HEAD
>>>>>>> 4577896866978b6cb476df4e2404500fce42e9e4
=======

>>>>>>> 9642aaa73c2284ba7c180a69ae4f6f18bd39d173
