.product {
  display: flex;
  flex-direction: column;
  width: 100%;

  .product-intro {
    p {
    }
  }

  .product-detail {
    .inspiration-img {
      width: 80%;
      border-radius: 5px;
    }
    .product-img {
      height: 500px;
    }

    p {
    }
    ul {
    }

    li {
    }
  }
}
