@cream: #fefdeb;
@light-lav: #ece8f7;
@dark-lav: #d9d2ee;
@light-grn: #abd5aa;
@dark-grn: #79bb77;

//tablet style
@tablet: ~'(min-width: 800px)';
//desktop style
@desktop: ~'(min-width: 1000px)';
