@cream: #fefdeb;
@light-lav: #ece8f7;
@dark-lav: #d9d2ee;
@light-grn: #abd5aa;
@dark-grn: #79bb77;

//background color
@antique-white: #FAEBD7;

// Body Text
body {
    font-family: 'Libre Baskerville', serif;
}

// Heading Text
h1, h2, h3, h4, h5 {
    font-family: 'Oxygen', sans-serif;
}

//tablet style
@tablet: ~'(min-width: 800px)';
//desktop style
@desktop: ~'(min-width: 1000px)';
