
.menu-button {
    position: absolute;
    left: 20px;
    cursor: pointer;
   
    @media @desktop {
        display: none;
    }
}

.mobile-heading {
   text-align: center;

   @media @desktop {
    display: none;
    }
}

.menu {
    display: none;
    position: unset;
   
    @media (min-width: 800px) {
        display: none;
        position: unset;
        top: 75px;
        left: 0;
        width: 800px;
        height: 77vh; 
        color: @light-grn;
        box-shadow: 3px 3px 8px @mint-green;
        background-color: @antique-white;
        
        border-left: none;
        border-bottom: none;
        z-index: 2;
    }

    @media @mobile {
        display: none;
        position: unset;
        top: 75px;
        left: 0;
        width: 481px;
        height: 77vh; 
        color: @light-grn;
        box-shadow: 3px 3px 8px @mint-green;
        background-color: @antique-white;
        
        border-left: none;
        border-bottom: none;
        z-index: 2;
    }
}

.menu ul li{
    list-style-type: none;
    font-size: 32px;
    padding: 30px 0;
    text-align: center;
    border:  1px solid @light-grn;
    box-shadow: 3px 3px 8px #c2d8c1;
    border-radius: 10px; 
  }

  .mobile-nav {
    font-size: 30px;
    }
  
  .menu--open {
    display: block;
}
